 *{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 7, 7);
    color: white;
}
.container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 800px;
    background-image: url(images/hero-image.png);
    -moz-box-shadow:    inset  0 -10px 10px -10px rgb(7, 7, 7);
    -webkit-box-shadow: inset  0 -10px 10px -10px rgb(7, 7, 7);
    box-shadow:        inset  0 -10px 10px -10px rgb(7, 7, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    animation: change 10s infinite ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url(images/hero-image.png);
    }
    30%
    {
        background-image: url(images/restaurant.jpg);
    }
    60%
    {
        background-image: url(images/restaurant2.jpg);
    }
    100%
    {
        background-image: url(images/hero-image.png);
    }
}
.hero-header{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--priamary-color);
    opacity: 0.8;
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    letter-spacing: 20px;
}

.navbar{
    width: 100%;
    background-color: transparent;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.logo{
    width:80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}
.hamburger{
   display: block;
   position: fixed;
   width: 35px;
   cursor: pointer;
   float: right;
   margin-right: 30px;
   right: 10px;
   top: 0px;
   margin-top: 30px;
   outline: none;
   border: none;
   background: none;
   appearance: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    margin: 6px 0px;
    background-color: var(--priamary-color);
    transition: 0.4s;
    border-radius: 5px;
}

.hamburger.is-active:before{
    transform: rotate(45deg) translate(10px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(-45deg) translate(10px, -6px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
.ham-navbar{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.897);
    padding-top: 120px;
    transition: 0.4s;
}
.ham-navbar.is-active{
    left:0%;
}
.ham-navbar a{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(68, 51, 8, 0.103);
    color: var(--priamary-color);
    margin: 0 auto 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    letter-spacing: 10px;

}
.ham-navbar a:hover{
    background-color: rgba(189, 140, 16, 0.103);
}
.home-menu{
    position: relative;
    overflow: hidden;
}
.home-menu-heading{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 60px;
    color: var(--priamary-color);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.home-menu-grid-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    grid-template-areas: 
    'one two'
    'three four'
    'five six';

}
.menu-section{
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    overflow: hidden;
   
}

.home-menu-grid-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image1{
    grid-area: one;
}
.menu-section.one{
    grid-area: two;
}
#image2{
    grid-area: three;
}
.menu-section.two{
    grid-area: four;
}
#image3{
    grid-area: five;
}
.menu-section.three{
    grid-area: six;
}



/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
@media screen and (max-width: 1440px){
    .home-menu-grid-container{
        grid-template-areas: 
        'one two'
        'four three'
        'five six';
    }
}
@media screen and (max-width: 836px){

    .hero-header{
        font-size: 50px;
    }
}

@media screen and (max-width: 712px){
    .home-menu-grid-container{
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';

        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 512px){
    .home-menu-grid-container{
        grid-auto-rows: 400px;
    }
}
