 *{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
    --secondary-color: rgb(7, 7, 7);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: white;
}
.container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 800px;
    background-image: url(images/hero-image.png);
    -moz-box-shadow:    inset  0 -10px 10px -10px rgb(7, 7, 7);
    -webkit-box-shadow: inset  0 -10px 10px -10px rgb(7, 7, 7);
    box-shadow:        inset  0 -10px 10px -10px rgb(7, 7, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    animation: change 10s infinite ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url(images/hero-image.png);
    }
    30%
    {
        background-image: url(images/restaurant.jpg);
    }
    60%
    {
        background-image: url(images/restaurant2.jpg);
    }
    100%
    {
        background-image: url(images/hero-image.png);
    }
}
.hero-header{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--priamary-color);
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    letter-spacing: 20px;
}

.navbar{
    width: 100%;
    background-color: transparent;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.logo{
    width:80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}
.hamburger{
   display: block;
   position: fixed;
   width: 35px;
   cursor: pointer;
   float: right;
   margin-right: 30px;
   right: 10px;
   top: -5px;
   margin-top: 30px;
   outline: none;
   border: none;
   background: none;
   appearance: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    margin: 6px 0px;
    background-color: var(--priamary-color);
    transition: 0.4s;
    border-radius: 5px;
}
.hamburger.is-active:before{
    transform: rotate(45deg) translate(10px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(-45deg) translate(10px, -6px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
.ham-navbar{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.897);
    padding-top: 120px;
    transition: 0.4s;
}
.ham-navbar.is-active{
    left:0%;
}
.ham-navbar a{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(68, 51, 8, 0.103);
    color: var(--priamary-color);
    margin: 0 auto 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    letter-spacing: 10px;

}
.ham-navbar a:hover{
    background-color: rgba(189, 140, 16, 0.103);
}
.home-menu{
    position: relative;
    overflow: hidden;
}
.menu-section{
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    transition: .6s ease-in-out;
}
.menu-section:hover{
    background-color: rgb(12, 9, 1);
}
.home-menu-heading{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    margin-left: 80px;
    padding: 10px;
    width: 50%;
    font-size: 80px;
    letter-spacing: 7px;
    color: var(--priamary-color);
    margin-top: 70px;
    margin-bottom: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.home-menu-content{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--priamary-color);
    width: 70%;
    padding: 10px;
    margin-left: 85px;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.home-menu-button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    margin-left: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(60deg,
                                #A57c01,
                                #B79001,
                                #FFDF01,
                                #EDCB01,
                                #DBB701,
                                #C9A401);
    cursor: pointer; 
    line-height: 40px;

}
.home-menu-button::before{
    content: ' ';
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 70%;
    top: 15%;
    left: 5%;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg,
                                #A57c01,
                                #B79001,
                                #FFDF01,
                                #EDCB01,
                                #DBB701,
                                #C9A401);
    transition: 0.3 opacity ease-in-out;
}
.home-menu-button:hover::before{
    opacity: 1;
    transition: 0.3 opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg,
                                #A57c01,
                                #B79001,
                                #FFDF01,
                                #EDCB01,
                                #DBB701,
                                #C9A401);

}
.home-menu-button::after{
    content: 'View';
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    color: var(--priamary-color);
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 5px;
    width: 94%;
    height: 85%;
    top: 7%;
    left: 3%;
    background-color: var(--secondary-color);
}
.home-menu-grid-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'one two'
    'three four'
    'five six';

}
.home-menu-grid-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image1{
    grid-area: one;
}
.menu-section.one{
    grid-area: two;
}
#image2{
    grid-area: three;
}
.menu-section.two{
    grid-area: four;
}
#image3{
    grid-area: five;
}
.menu-section.three{
    grid-area: six;
}

.chef-container-grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-template-areas: 
    'seven eight';
}
.chef-container-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chef-section{
    width: 100%;
    background-color: rgba(189, 140, 16, 0.041);
    overflow: hidden;
    grid-area: seven;
    color: var(--priamary-color);
    transition: 0.4s;
}
.chef-section:hover{
    background-color: rgb(5, 4, 0);
}
.chef-section-heading{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    font-size: 40px;
    letter-spacing: 7px;
    color: var(--priamary-color);
    margin-top: 30px;
    margin-bottom: 5px;
}
.chef-section-content{
    font-family: 'Chakra Petch', sans-serif;
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    padding: 20px;
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 50px;
    margin-top: 20px;
}
#image4{
    grid-area: eight;
}
.image-gallery-grid{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 400px);
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 80px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.527);
}

.image-gallery-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(68, 49, 0);
}
.image-section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(68, 49, 0);
}
.gallery-heading{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 80px;
    margin-top: 150px;
    margin-left: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--priamary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.image-section.content-one{
    grid-area: 1 / 1 / 1 / 3 ;
    background-image: url(images/interior2.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
}
.image-section.content-two{
    grid-area: 1 / 5 / 1 / 7 ;
    
    background-image: url(images/interior3.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
}
.image-section.content-three{
    grid-area: 3 / 5 / 3 / 7 ;
    background-image: url(images/vase.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
}
 #image-one{
    grid-area: 1 / 3 / 1 / 5 ;
 }
 #image-two{
    grid-area: 2 / 1 / 3 / 4 ;
 }
 #image-three{
    grid-area: 2 / 4 / 3 / 7 ;

 }
 #image-four{
    grid-area: 3 / 1 / 3 / 5 ;

 }
 .view-button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    margin-left: 130px;
    margin-top: 190px;
    margin-bottom: 20px;
    background: linear-gradient(60deg,
                                #A57c01,
                                #B79001,
                                #FFDF01,
                                #EDCB01,
                                #DBB701,
                                #C9A401);
    cursor: pointer; 
    line-height: 40px;
}
.view-button::before{
    content: ' ';
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 70%;
    top: 15%;
    left: 5%;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg,
                                #A57c01,
                                #B79001,
                                #FFDF01,
                                #EDCB01,
                                #DBB701,
                                #C9A401);
}
.view-button:hover::before{
    opacity: 1;
    transition: 0.2s opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg,
                                #A57c01,
                                #B79001,
                                #FFDF01,
                                #EDCB01,
                                #DBB701,
                                #C9A401);

}
.view-button::after{
    content: 'View';
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    color: var(--priamary-color);
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 5px;
    width: 94%;
    height: 85%;
    top: 7%;
    left: 3%;
    background-color: var(--secondary-color);
}
.newsletter-container{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(145, 104, 2);
    margin-bottom: 100px;
}
.news-heading-one{
text-align: center;
font-family: 'Chakra Petch', sans-serif;
font-size: 25px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 30px;
color: var(--priamary-color);
letter-spacing: 2px;
}
.news-heading-two{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--priamary-color);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    margin-top: 10px;
}
.news-content{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--priamary-color);
    letter-spacing: 2px;
    margin-top: 10px;
}
.input-field{
width: 100%;
text-align: center;
margin-top: 30px;
}
.input-field > input{
    width: 72%;
    height: 35px;
    background-color: transparent;
    border: 1px solid var(--priamary-color);
    color: var(--priamary-color);
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}
.input-field > input:focus{
    box-shadow: 2px 0px 20px 0px rgba(218, 165, 32, 0.555);
}
.news-button{
    margin-top: 20px;
    text-align: center;
}
.news-button > button{ 
    border: 1px solid var(--priamary-color);
    background-color: transparent;
    cursor: pointer;
    color: var(--priamary-color);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 50px 7px 50px;
    letter-spacing: 2px;
    box-shadow: 2px 0px 10px 0px rgba(218, 165, 32, 0.37);
    margin-bottom: 20px;
}
.news-button > button:hover{
    box-shadow: 2px 0px 20px 0px rgba(218, 165, 32, 0.555);
    background-color: rgb(14, 10, 0);
}
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
/* ============================MEDIA Queries =======================================*/
@media screen and (max-width: 1440px){
    .home-menu-grid-container{
        grid-template-areas: 
        'one two'
        'four three'
        'five six';
    }
}
@media screen and (max-width: 836px){

    .hero-header{
        font-size: 40px;
    }
    .gallery-heading{
    font-size: 60px;
    margin-top: 160px;
    margin-left: 70px;
}

}
@media screen and (max-width: 900px){
    .home-menu-grid-container{
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';

        grid-template-columns: 1fr;
    }
    .chef-container-grid{
        grid-template-areas: 
        'seven' 
        'eight';

        grid-template-columns: 1fr;
    }
    .chef-section{
        grid-area: 1 / 1 / 3 / 2;
        z-index: -1;
    }
    #image4{
        opacity: 0.2;
    }
    .image-gallery-grid{
        grid-template-rows: repeat(4, 400px);
    }
    .image-section.content-one{
        grid-area: 1 / 1 / 2 / 4 ;
    }    
    .image-section.content-two{
        grid-area: 1 / 4 / 2 / 7 ;
    }
    #image-one{
        grid-area: 2 / 1 / 3 / 4 ;
    } 
    #image-two{  
        grid-area: 2 / 4 / 3 / 7 ;
    } 
    #image-three{  
        grid-area: 4 / 1 / 5 / 4 ;
    } 
    #image-four{  
        grid-area: 3 / 1 / 4 / 7 ;
    } 
    .image-section.content-three{
        grid-area: 4 / 4 / 5 / 7 ;
    }
}
@media screen and (max-width: 712px){
    .chef-container-grid > img{
        height: 1200px;
    }
    .image-gallery-grid{
        grid-template-rows: repeat(4, 300px);
    }
    .image-section.content-one{
        background-size: 350px 350px;
    }    
    .image-section.content-two{
        background-size: 350px 350px;
    }
    .image-section.content-three{
        background-size: 350px 350px;
    }
    .gallery-heading{
        font-size: 50px;
        margin-top: 120px;
        margin-left: 50px;
    }
    .view-button{
        margin-left: 90px;
        margin-top: 150px;
        margin-bottom: 20px;  
    }
}
@media screen and (max-width: 572px) {
    .gallery-heading{
        font-size: 40px;
        margin-top: 120px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 512px) {
    .image-gallery-grid{
        grid-template-rows: repeat(4, 200px);
    }
     .image-section.content-one{
        background-size: 250px 250px;
    }    
    .image-section.content-two{
        background-size: 250px 250px;
    }
    .image-section.content-three{
        background-size: 250px 250px;
    }
    .gallery-heading{
        font-size: 35px;
        margin-top: 80px;
        margin-left: 40px;
    }
}
