 *{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
    --secondary-color: rgb(7, 7, 7);
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}
.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 800px;
    background-image: url(images/hero-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    animation: change 10s infinite ease-in-out;
  }
  
  @keyframes change {
    0% {
      background-image: url(images/hero-image.png);
    }
    30% {
      background-image: url(images/restaurant.jpg);
    }
    60% {
      background-image: url(images/restaurant2.jpg);
    }
    100% {
      background-image: url(images/hero-image.png);
    }
  }
  
  .hero-header {
    font-size: 230px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 20px;
  }
  
  .hero-header:hover {
    opacity: 1;
  }
  
  #hero-hover {
    transition: 0.6s;
  }
  
  #hero-hover:hover {
    opacity: 1;
    font-size: 250px;
  }
  
  .hero-text {
    background: linear-gradient(#0c1403, #728b1a, #f5990f, #0a0901);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.navbar{
    width: 100%;
    background-color: transparent;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
    transition: 0.5s;
}
.navbar:hover{
    background-color: rgba(0, 0, 0, 0.658);
}
.logo{
    width:70px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}
.hamburger{
   display: block;
   position: fixed;
   width: 35px;
   cursor: pointer;
   float: right;
   margin-right: 30px;
   right: 10px;
   top: -5px;
   margin-top: 30px;
   outline: none;
   border: none;
   background: none;
   appearance: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    margin: 6px 0px;
    background-color: var(--priamary-color);
    transition: 0.4s;
    border-radius: 5px;
}
.hamburger.is-active:before{
    transform: rotate(45deg) translate(10px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(-45deg) translate(10px, -6px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
.ham-navbar{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.897);
    padding-top: 100px;
    transition: 0.5s;
}
.ham-navbar.is-active{
    left:0%;
}
.ham-navbar a{
    font-size: 30px;
    font-weight: 600;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(68, 51, 8, 0.103);
    color: var(--priamary-color);
    margin: 0 auto 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    letter-spacing: 10px;

}
.ham-navbar a:hover{
    background-color: rgba(189, 140, 16, 0.103);
}
.home-menu{
    position: relative;
    overflow: hidden;
}
.menu-section{
    width: 100%;
    overflow: hidden;
    transition: .5s ease-in-out;
    position: relative;
}
.menu-section::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(images/background\ \(1\).jpg);
    z-index: -1;
    opacity: 0.1;
}
.menu-section:hover{
    background-color: rgba(7, 6, 1, 0.555);
}
.home-menu-heading{
    font-weight: 700;
    margin-left: 80px;
    padding: 10px;
    width: 50%;
    font-size: 80px;
    letter-spacing: 7px;
    color: var(--priamary-color);
    margin-top: 70px;
    margin-bottom: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.home-menu-content{
    font-weight: 500;
    font-size: 20px;
    color: var(--priamary-color);
    width: 70%;
    padding: 10px;
    margin-left: 85px;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.home-menu-button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    margin-left: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(60deg,
                                #ffa621,
                                #e2b100,
                                #774103,
                                #eda201);
    cursor: pointer; 
    line-height: 40px;

}
.home-menu-button::before{
    content: ' ';
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 70%;
    top: 15%;
    left: 5%;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg,
                                #ffa621,
                                #e2b100,
                                #774103,
                                #eda201);
    transition: 0.3 opacity ease-in-out;
}
.home-menu-button:hover::before{
    opacity: 1;
    transition: 0.3 opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg,
                                #ffa621,
                                #e2b100,
                                #774103,
                                #eda201);

}
.home-menu-button::after{
    content: 'View';
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    color: var(--priamary-color);
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 5px;
    width: 94%;
    height: 85%;
    top: 7%;
    left: 3%;
    background-color: var(--secondary-color);
}
.home-menu-grid-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'one two'
    'three four'
    'five six';

}
.home-menu-grid-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image1{
    grid-area: one;
}
.menu-section.one{
    grid-area: two;
}
#image2{
    grid-area: three;
}
.menu-section.two{
    grid-area: four;
}
#image3{
    grid-area: five;
}
.menu-section.three{
    grid-area: six;
}
.chef-container-grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-template-areas: 
    'seven eight';
}
.chef-container-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chef-section{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    overflow: hidden;
    grid-area: seven;
    color: var(--priamary-color);
    transition: 0.4s;
}
.chef-section:hover{
    background-color: rgba(14, 9, 1, 0.534);
}
.chef-section-heading{
    font-weight: 700;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    font-size: 40px;
    letter-spacing: 7px;
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-bottom: 5px;
}
.chef-section-content{
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    padding: 20px;
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 50px;
    margin-top: 20px;
}
#image4{
    grid-area: eight;
}
.image-frame{
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 4px 4px 4px 4px;
    margin-top: 60px;
    margin-bottom: 80px;
    background-image: url(images/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(218, 137, 32, 0.555);
}
.image-gallery-grid{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 400px);
        margin: 0 auto;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.527);
}

.image-gallery-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.gallery-heading{
    font-size: 80px;
    margin-top: 150px;
    margin-left: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--priamary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.image-section.content-one{
    grid-area: 1 / 1 / 1 / 3 ;
    background-image: url(images/interior2.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
}
.image-section.content-two{
    grid-area: 1 / 5 / 1 / 7 ;
    
    background-image: url(images/interior3.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
}
.image-section.content-three{
    grid-area: 3 / 5 / 3 / 7 ;
    background-image: url(images/vase.jpg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
}
 #image-one{
    grid-area: 1 / 3 / 1 / 5 ;
 }
 #image-two{
    grid-area: 2 / 1 / 3 / 4 ;
 }
 #image-three{
    grid-area: 2 / 4 / 3 / 7 ;

 }
 #image-four{
    grid-area: 3 / 1 / 3 / 5 ;

 }
 .view-button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    margin-left: 130px;
    margin-top: 190px;
    margin-bottom: 20px;
    background: linear-gradient(60deg,
                                #ffa621,
                                #e2b100,
                                #774103,
                                #eda201);
    cursor: pointer; 
    line-height: 40px;
}
.view-button::before{
    content: ' ';
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 70%;
    top: 15%;
    left: 5%;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg,
                                #ffa621,
                                #e2b100,
                                #774103,
                                #eda201);
}
.view-button:hover::before{
    opacity: 1;
    transition: 0.2s opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg,
                                #ffa621,
                                #e2b100,
                                #774103,
                                #eda201);

}
.view-button::after{
    content: 'View';
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    color: var(--priamary-color);
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 5px;
    width: 94%;
    height: 85%;
    top: 7%;
    left: 3%;
    background-color: var(--secondary-color);
}
.contact-frame{
    width: 90%;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px 3px rgba(218, 137, 32, 0.555);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
.contact-grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
.contact-container-frame{
    background-color: var(--secondary-color);
    height: 100%;
    transition: 0.6s;
}
.contact-container{
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: 100%;
    background-image: url(images/frame.jpg);
}
.contact-container-frame:hover{
    background-color: rgb(7, 6, 0);
}
.contact-content{
    width: 80%;
    height: 100%;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 500;
    color: var(--priamary-color);
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 50px;
}

.main-points{
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.contact-subcontent{
    margin-top: 30px;
    
}
.contact-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1 / 3 / 3 / 5;
}
.contact-heading{
    font-size: 60px;
    font-weight: 700;
    padding-top: 30px;
    margin-left: 30px;
    color: var(--priamary-color);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    width: 80%;
}
iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%);
    grid-area: 3 / 1 / 5 / 5;
}
.newsletter-frame{
    border: 2px solid rgb(145, 104, 2);
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 5px 5px 5px 5px;
    background-image: url(images/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter-container{
    padding: 20px;
    margin: 0 auto;
    border: 2px solid rgb(145, 104, 2);
    background-color: var(--secondary-color);
}
.news-heading-one{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}
.news-heading-two{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--priamary-color);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    margin-top: 10px;
}
.news-content{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--priamary-color);
    letter-spacing: 2px;
    margin-top: 10px;
}
.input-field{
width: 100%;
text-align: center;
margin-top: 30px;
}
.input-field > input{
    width: 72%;
    height: 35px;
    background-color: transparent;
    border: 1px solid var(--priamary-color);
    color: var(--priamary-color);
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}
.input-field > input:focus{
    box-shadow: 2px 0px 20px 0px rgba(218, 165, 32, 0.555);
}
.news-button{
    margin-top: 20px;
    text-align: center;
}
.news-button > button{ 
    border: 1px solid var(--priamary-color);
    background-color: transparent;
    cursor: pointer;
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 50px 7px 50px;
    letter-spacing: 2px;
    box-shadow: 2px 0px 10px 0px rgba(218, 165, 32, 0.37);
    margin-bottom: 20px;
}
.news-button > button:hover{
    box-shadow: 2px 0px 20px 0px rgba(218, 165, 32, 0.555);
    background-color: rgb(0, 0, 0);
}
footer{
    background-image: linear-gradient(315deg,#181202, #141102, #2c2706, #080700);
    margin-top: 50px;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    padding: 5px;
}
.footer-grid > img{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    grid-area: 1/2/2/3;
}
.footer-content{
    padding: 10px;
}
.footer-content.footer-one{
    grid-area: 1/3/2/4;
}
.footer-content.footer-two{
    grid-area: 1/1/2/2;
}
.footer-content.footer-three{ 
    grid-area: 2/3/3/4;
}
.footer-content.footer-four{
    grid-area: 2/1/3/2;
}
.footer-heading{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 40px;
}
.sitemap, .opening-section, .location-section,.social-section{
    margin-left: 40px;
    margin-top: 10px;
}
.sitemap , .location-section , .opening-section > h4{
    color: var(--priamary-color);
    font-size: 20px;
    padding-bottom: 7px;
}
.opening-section > h5{
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    padding-bottom: 7px;

}
.social-section > a{
    padding-right: 10px;
}
.social-section i{
    position: relative;
    bottom: 0px;
    transition: 0.3s;
}
.social-section i:hover{
    bottom: 2px;
}
.sitemap > a{
    text-decoration: none;
    color: var(--priamary-color);
    border: none;
    appearance: none;
}
.sitemap > h4{
    padding-bottom: 7px;
}
.sitemap > a:hover{
    color: rgb(145, 120, 10);
    font-size: 21px;
    cursor: pointer;
}
.copyright{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: var(--priamary-color);
}
/* ============================MEDIA Queries =======================================*/
@media screen and (max-width: 2640px){
    .container{
        height: 1200px;
    }
    .home-menu-grid-container{
        grid-template-areas: 
        'one two'
        'four three'
        'five six';
    }
}
@media screen and (max-width: 1440px){
    .container{
        height: 800px;
    }
    .home-menu-grid-container{
        grid-template-areas: 
        'one two'
        'four three'
        'five six';
    }
}
@media screen and (max-width: 1200px){
    .gallery-heading{
        font-size: 60px;
        margin-top: 160px;
        margin-left: 70px;
        }
}
@media screen and (max-width: 1024px) {
    .hero-header{
        font-size: 150px;
        top: 40%;
        left: 52%;
        letter-spacing: 15px;
    } 
    #hero-hover:hover{
        font-size: 170px;
    }
    .gallery-heading{
        font-size: 55px;
        margin-top: 160px;
        margin-left: 50px;
        }
    .view-button{
        margin-left: 100px;
        margin-top: 190px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 900px){
    .home-menu-grid-container{
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';

        grid-template-columns: 1fr;
    }
    .home-menu-heading{
        margin-top: 30px;
    }
    .home-menu{
        margin-bottom: 100px;
    }
    .chef-container-grid{
        grid-template-areas: 
        'seven' 
        'eight';

        grid-template-columns: 1fr;
    }
    .chef-section{
        grid-area: 1 / 1 / 3 / 2;
        z-index: -1;
    }
    #image4{
        opacity: 0.2;
    }
    .image-gallery-grid{
        grid-template-rows: repeat(4, 400px);
    }
    .image-section.content-one{
        grid-area: 1 / 1 / 2 / 4 ;
    }    
    .image-section.content-two{
        grid-area: 1 / 4 / 2 / 7 ;
    }
    #image-one{
        grid-area: 2 / 1 / 3 / 4 ;
    } 
    #image-two{  
        grid-area: 2 / 4 / 3 / 7 ;
    } 
    #image-three{  
        grid-area: 4 / 1 / 5 / 4 ;
    } 
    #image-four{  
        grid-area: 3 / 1 / 4 / 7 ;
    } 
    .image-section.content-three{
        grid-area: 4 / 4 / 5 / 7 ;
    }
    .contact-grid{
        grid-template-rows: repeat(6, 300px);
    }
    .contact-container{
        grid-area: 3 / 1 / 5 / 5;
    }
    .contact-grid > img{
        grid-area: 1 / 1 / 3 / 5;
    }
    iframe{
        grid-area: 5 / 1 / 7 / 5;
    }
    .view-button{
        margin-left: 140px;
        margin-top: 190px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 836px){
    .hamburger{
        margin-right: 10px;
    }
    .gallery-heading{
    font-size: 60px;
    margin-top: 160px;
    margin-left: 70px;
    }
    .footer-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-content.footer-one{
        grid-area: 2/1/3/2;
    }
    .footer-content.footer-two{
        grid-area: 3/1/4/2;
    }
    .footer-content.footer-three{
        grid-area: 4/1/5/2;
    }
    .footer-content.footer-four{
        grid-area: 5/1/6/2;
    }
    .footer-grid > img{
        grid-area: 1/1/2/2;
        width: 190px;
        height: 200px;
    }
    .footer-heading{
        margin: 0px;
    }
    .sitemap,.location-section,.opening-section,.social-section{
        margin-left: 0px;
    }
    .footer-content{
        text-align: center;
    }
    .newsletter-frame{
        width: 90%;
    }
}
@media screen and (max-width: 712px){
    .hero-header{
        font-size: 100px;
        top: 40%;
        left: 52%;
        letter-spacing: 10px;
    } 
    #hero-hover:hover{
        font-size: 120px;
    }
    .chef-container-grid > img{
        height: 800px;
    }
    .image-gallery-grid{
        grid-template-rows: repeat(4, 300px);
    }
    .image-section.content-one{
        background-size: 350px 350px;
    }    
    .image-section.content-two{
        background-size: 350px 350px;
    }
    .image-section.content-three{
        background-size: 350px 350px;
    }
    .gallery-heading{
        font-size: 50px;
        margin-top: 120px;
        margin-left: 50px;
    }
    .view-button{
        margin-left: 90px;
        margin-top: 150px;
        margin-bottom: 20px;  
    }
}
@media screen and (max-width: 572px) {
    .home-menu-heading{
        margin-top: 5px;
        margin-left: 40px;
    }
    .home-menu-content{
        margin-left: 45px;
    }
    .home-menu-button{
        margin-left: 50px;
    }
    .gallery-heading{
        font-size: 40px;
        margin-top: 120px;
        margin-left: 50px;
    }
    .contact-frame{
        box-shadow: none;
    }
    .contact-container{
        padding: 5px;
        width: 98%;
        margin-top: 20px;
    }
    iframe{
        margin-top: 50px;
    }
    .news-heading-one{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .news-heading-two{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .input-field{
        margin-top: 20px;
    }
    .input-field > input{
        width: 95%;
    }
    .news-button > button{ 
        font-size: 16px;
        font-weight: 600;
        padding: 5px 30px 5px 30px;
        margin-bottom: 10px;
    }
    .contact-heading{
        font-size: 40px;
        font-weight: 700;
        padding-top: 30px;
        margin-left: 30px;
        letter-spacing: 2px;
    }
    .contact-content{
        margin-top: 0px;
        margin-left: 30px;
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 2px;
        margin-bottom: 0px;
        height: 0%;
    }
    
    .contact-subcontent{
        margin-top: 20px;       
    }
    .contact-grid{
        grid-template-rows: repeat(4,1fr);
    }
    .view-button{
        margin-left: 80px;
        margin-top: 130px;
        margin-bottom: 20px;
        width: 90px;
        height: 42px;  
    }
    .view-button::after{
        letter-spacing: 3px;
        font-size: 16px;
    }
}  
@media screen and (max-width: 512px) {
    .container{
        height: 600px;
    }
    .hero-header{
        font-size: 80px;
        top: 40%;
        left: 52%;
        letter-spacing: 8px;
    } 
    #hero-hover:hover{
        font-size: 90px;
    }
    .image-frame{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .image-gallery-grid{
        grid-template-rows: repeat(4, 200px);
    }
     .image-section.content-one{
        background-size: 250px 250px;
    }    
    .image-section.content-two{
        background-size: 250px 250px;
    }
    .image-section.content-three{
        background-size: 250px 250px;
    }
    .gallery-heading{
        font-size: 35px;
        margin-top: 80px;
        margin-left: 40px;
    }
    .view-button{
        margin-left: 70px;
        margin-top: 80px;
    }
    .newsletter-frame{
        margin-top: 100px;
    }
}
@media screen and (max-width: 450px) {
    .hamburger{
        margin-right: 5px;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        width: 34px;
        height: 4px;
        margin: 4px 0px;
        border-radius: 3px;
    }
    .hamburger.is-active:before{
        transform: rotate(45deg) translate(6px, 7px);
    }
    .hamburger.is-active:after{
        transform: rotate(-45deg) translate(5px, -6px);
    }
    .logo{
        width: 50px;
        height: 60px;
    }
    .view-button{
        margin-left: 50px;
        margin-top: 90px;
        width: 80px;
        height: 35px;  
        line-height: 30px;
    }
    .gallery-heading{
        font-size: 40px;
        margin-top: 80px;
        margin-left: 20px;
        letter-spacing: 1px;
    }
    .chef-container-grid > img{
        height: 1200px;
    }
}
@media screen and (max-width: 380px){
    .gallery-heading{
        font-size: 32px;
        margin-top: 80px;
        margin-left: 20px;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 360px) {
    .hero-header{
        font-size: 60px;
        top: 40%;
        left: 52%;
        letter-spacing: 5px;
    } 
    #hero-hover:hover{
        font-size: 70px;
    }
    .home-menu-heading{
        margin-top: 5px;
        margin-left: 20px;
        font-size: 50px;
    }
    .home-menu-content{
        margin-left: 25px;
        font-size: 16px;
        width: 80%;
    }
    .home-menu-button{
        margin-left: 50px;
    }
    .home-menu-button{
        width: 100px;
        height: 35px;
        margin-left: 35px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 30px; 
    }
}
@media screen and (max-width: 320px) {
    .logo{
        width: 50px;
        height: 50px;
    }
    .view-button{
        margin-left: 30px;
        margin-top: 80px;
        width: 80px;
        height: 35px;  
    }
    .gallery-heading{
        margin-top: 80px;
        margin-left: 8px;
        letter-spacing: 1px;
    }
}