<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sooper-About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Eagle+Lake&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="about-style.css">
</head>
<body>
    <div class="navbar">
        <a href="/index.html"><img src="/images/logo.png" alt="" class="logo"></a>
    <button class="hamburger">
        <div class="bar"></div>
    </button>
    </div>
    <div class="ham-navbar">
        <a href="/index.html">Home</a>
        <a href="#About" id="close-hamburger">About</a>
        <a href="menu.html">Menu</a>
        <a href="/index.html#contact">Contact</a>
        <a href="gallery.html">Gallery</a>
    </div>
    <div class="about-image-container">
        <div class="trasparent-background">
            <div class="about-image-heading">About</div>
            <div class="about-image-heading">Sooper</div>
        </div>
    </div>
    <div class="about-container">
        <div class="about-container-block one">
          <div class="about-container-heading">Our Story</div>
        </div>
        <div class="about-container-block two">
            <div class="about-container-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis sapiente ducimus corporis, cum facere repudiandae 
                saepe impedit praesentium, minus quasi, qui beatae! Officiis <br><br>
                eaque ipsum molestiae laboriosam reprehenderit, vero aliquid 
                obcaecati consequuntur earum officia, laudantium cumque enim 
                laborum. Ut magni qui pariatur impedit esse nostrum aliquid dolor numquam repellat dolorem.
            </div>
        </div>
        <img src="/images/restaurant-5.jpeg" alt="" id="about-image1">
        <img src="/images/stable-diffusion-xl (3).jpeg" alt="" id="about-image2">
        <img src="/images/stable-diffusion-xl.jpeg" alt="" id="about-image3">
        <img src="/images/stable-diffusion-xl (1).jpeg" alt="" id="about-image4">
        <img src="/images/stable-diffusion-xl (2).jpeg" alt="" id="about-image5">
        <div class="about-container-block three">
            <div class="about-container-heading">Founders</div>
          </div>
          <div class="about-container-block four">
            <div class="about-container-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Veritatis sapiente ducimus corporis, cum facere repudiandae 
                saepe impedit praesentium, minus quasi, qui beatae! Officiis <br><br>
                eaque ipsum molestiae laboriosam reprehenderit, vero aliquid 
                obcaecati consequuntur earum officia, laudantium cumque enim 
                laborum. Ut magni qui pariatur impedit esse nostrum aliquid dolor numquam repellat dolorem.
            </div>
        </div>
    </div>
    <div class="slider-container">
        <div class="slider-heading">Memories</div>
        <div class="slider-wrapper">
            <div class="slider">
                <img src="/images/restaurant.jpg" alt="" id="slide-1">
                <img src="/images/restaurant2.jpg" alt="" id="slide-2">
                <img src="/images/restaurant-3.jpeg" alt="" id="slide-3">
                <img src="/images/restaurant-4.jpeg" alt="" id="slide-4">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
            </div>
        </div>
    </div>
    <div class="why-container">
        <div class="container-heading">Why Choose Sooper</div>
        <div class="why-container-flex">
            <div class="item-frame">
                <div class="items">
                    <img src="/images/dinner-table.png" alt="">
                    <div class="item-content">
                        <div class="item-heading">Dining Experience</div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Quaerat voluptates, eveniet officiis ipsum quasi vel! 
                        Pariatur optio consequatur neque voluptas!
                    </div>
                </div>
            </div>
            <div class="item-frame">
                <div class="items">
                    <img src="/images/vegetable.png" alt="">
                    <div class="item-content">
                        <div class="item-heading">Fresh Ingredients</div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Quaerat voluptates, eveniet officiis ipsum quasi vel! 
                        Pariatur optio consequatur neque voluptas!
                    </div>
                </div>
            </div>
            <div class="item-frame">
                <div class="items">
                    <img src="/images/soup.png" alt="">
                    <div class="item-content">
                        <div class="item-heading">Delicious Soups:</div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Quaerat voluptates, eveniet officiis ipsum quasi vel! 
                        Pariatur optio consequatur neque voluptas!
                    </div>
                </div>
            </div>
            <div class="item-frame">
                <div class="items">
                    <img src="/images/wine.png" alt="">
                    <div class="item-content">
                        <div class="item-heading">Beverage Selection</div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Quaerat voluptates, eveniet officiis ipsum quasi vel! 
                        Pariatur optio consequatur neque voluptas!
                    </div>
                </div>
            </div>
            <div class="item-frame">
                <div class="items">
                    <img src="/images/chef.png" alt="">
                    <div class="item-content">
                        <div class="item-heading">Innovative Chefs</div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Quaerat voluptates, eveniet officiis ipsum quasi vel! 
                        Pariatur optio consequatur neque voluptas!
                    </div>
                </div>
            </div>
            <div class="item-frame">
                <div class="items">
                    <img src="/images/plate.png" alt="">
                    <div class="item-content">
                        <div class="item-heading">Hygienic Food</div>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Quaerat voluptates, eveniet officiis ipsum quasi vel! 
                        Pariatur optio consequatur neque voluptas!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-grid">
            <div class="footer-content footer-one">
                <div class="footer-heading">Sitemap</div>
                <div class="sitemap">
                    <a href="/index.html"><h4>Home</h4></a>
                    <a href="#about"><h4>About</h4></a>
                    <a href="menu.html"><h4>Menu</h4></a>
                    <a href="/index.html#contact"><h4>Contact</h4></a>
                    <a href="gallery.html"><h4>Gallery</h4></a>
                </div>
            </div>
            <div class="footer-content footer-two">
                <div class="footer-heading">Opening Hours</div>
                <div class="opening-section">
                    <h4>Monday - Friday</h4>
                    <h4>Lunch Time</h4>
                    <h5>12:00pm - 3:00pm</h5>
                    <h4>Dinner Time</h4>
                    <h5>8:00pm - 11:00pm</h5>
                    <h4>For Reservation Call us On</h4>
                    <h5>086696-09280</h5>
                </div>
            </div>
            <div class="footer-content footer-three">
                <div class="footer-heading">Location</div>
                <div class="location-section">
                    <h4>Goa University, Taleigao, Goa 403206</h4>
                </div>
            </div>
            <div class="footer-content footer-four">
                <div class="footer-heading">Socials</div>
                <div class="social-section">
                    <a href=""><i class="fa-brands fa-instagram fa-2xl" style="color: #e6b400;"></i></a>
                    <a href=""><i class="fa-brands fa-square-facebook fa-2xl" style="color: #e6b400;"></i></a>
                    <a href=""><i class="fa-brands fa-square-twitter fa-2xl" style="color: #e6b400;"></i></a>
                </div>
            </div>
            <img src="/images/logo.png" alt="">
        </div>
        <div class="copyright">© SOOPER 2023. ALL RIGHTS RESERVED.</div>
    </footer>
    <script src="/app.js"></script>
</body>
</html>