*{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
    --secondary-color: rgb(7, 7, 7);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    overflow-x: hidden;
}
.about-image-container{
    background-image: url(/images/restaurant-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    background-position: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.trasparent-background{
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 1;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    padding: 10px;
    width: 800px;
    height: 60%;
    object-fit: cover;
    border-radius: 5px;
    transition: 1s;
    overflow: hidden;

}
.trasparent-background:hover{
    background-color: rgba(0, 0, 0, 0.612);
}
.about-image-heading{
    font-size: 150px;
    font-weight: 700;
    background: -webkit-linear-gradient(#152206, #627911, #f5990f, #383103);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden; 
}
.about-image-heading:nth-child(1){
    top: 5%;
    left: 25%;
}
.about-image-heading:nth-child(2){
    top: 40%;
    left: 20%;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(12,80px);
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: black;
    overflow: hidden;
    overflow: hidden;
}
.about-container-block.one{
    grid-area:1/1/3/5;
    align-self: center;
    width: 75%;
    margin: 0 auto;
}
.about-container-heading{
    font-size: 50px;
    font-weight: 600;
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 50px;
}
.about-container-block.two{
    grid-area: 2/1/7/5;
    width: 75%;
    margin: 0 auto;
}
.about-container-block.three{
    grid-area:7/5/9/9;
    align-self: center;
    width: 75%;
    margin: 0 auto;
}
.about-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-container-block.four{
    grid-area: 8/5/13/9;
    width: 75%;
    margin: 0 auto;
}
#about-image1{
    grid-area: 1/5/7/9;
}
#about-image2{
    grid-area: 7/1/10/3;
}
#about-image3{
    grid-area: 7/3/10/5;
}
#about-image4{
    grid-area: 10/1/13/3;
}
#about-image5{
    grid-area: 10/3/13/5;
}
.about-container-content{
    padding-top: 60px;
    font-size: 18px;
    color: var(--priamary-color);
    font-weight: 500;
}

.slider-container {
    padding: 60px 0px 60px 0px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;

}
.slider-container::before{
    content: "";
    position: absolute;
    background-image: url(/images/restaurant-3.jpeg);
    background-repeat: no-repeat;
    background-size:1500px;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    z-index: -1;
}
.slider-heading{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: var(--priamary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    margin-bottom: 10px;
    letter-spacing: 2px;

}
.slider-wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 10;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 5px;
    -webkit-overflow-scrolling: touch;   
}
.slider > img{
    flex: 1 0 100%;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 2rem;
    position: absolute;
    z-index: 1;
    transform: translate(-50%);
    left: 50%;
    bottom: 2rem;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--priamary-color);
    opacity: 0.7;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.why-container{
    width: 80%;
    margin: 0 auto;
    /* background-color: aqua; */
    overflow: hidden;
}
.container-heading{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: var(--priamary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    margin-bottom: 10px;
    margin-top: 50px;
    letter-spacing: 2px;
}
.why-container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    margin-top: 50px;
}
.item-frame{
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    box-shadow: 1px 0px 5px 0px rgba(218, 137, 32, 0.555);
}
.item-frame:hover{
    background-image: url(/images/frame.jpg);
}
.items{
    width: 300px;
    height: 50vh;
    text-align: center;
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    transition: 0.5s;
}
.items:hover{
    width: 350px;
    background-color: rgb(0, 0, 0);
}
.items > img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.item-heading{
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.item-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: var(--priamary-color);
    font-size: 18px;
    margin-top: 10px;
}

/* =====================Media - Queries ================================================ */
@media screen and (max-width: 1000px) {
    .about-container{
        grid-template-rows: repeat(22,80px);
        width: 90%;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 2px rgba(218, 137, 32, 0.555);

    }
    .about-container-block.one{
        grid-area:1/1/2/9;
    }
    .about-container-block.two{
        grid-area:8/1/11/9;
    }
    .about-container-block.three{
        grid-area:11/1/12/9;
    }
    .about-container-block.four{
        grid-area:20/1/23/9;
    }
    #about-image1{
        grid-area: 2/1/8/9;
    }
    #about-image2{
        grid-area: 12/1/16/5;
    }
    #about-image3{
        grid-area: 12/5/16/9;
    }
    #about-image4{
        grid-area: 16/1/20/5;
    }
    #about-image5{
        grid-area: 16/5/20/9;
    }
    .about-container-heading{
        font-weight: 600;
        margin: 0px 0px;
        text-align: center;
    }
    .about-container-content{
        padding-top: 0px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 800px) {
    .about-container-content{
        margin-top: 20px;
    }
    .about-container-block.two , .about-container-block.four{
        width: 85%;
    }
}
@media screen and (max-width: 650px) {
    .about-container{
        grid-template-rows: repeat(22,90px);
        margin-top: 50px;
    }
    .about-image-heading{
        font-size: 120px;
    }
    .about-image-heading:nth-child(1){
        top: 15%;
        left: 30%;
    }
    .about-image-heading:nth-child(2){
        top: 42%;
        left: 26%;
    }
}
@media screen and (max-width: 555px) {
    .about-container{
        grid-template-rows: repeat(22,80px);
    }
    .about-container-content{
        margin-top: 10px;
    }
    .about-container-block.two , .about-container-block.four{
        width: 90%;
    }
    .about-container-content{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .about-container-heading{
        font-size: 40px;
    }
    .about-container > img{
        max-width: 500px;
        max-height: 100%;
        object-fit: cover;
    }
    #about-image2,#about-image3,#about-image4,#about-image5{
        max-width: 500px;
        max-height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 450px) {
    .about-image-heading{
        font-size: 90px;
    }
    .about-image-heading:nth-child(1){
        top: 25%;
        left: 35%;
    }
    .about-image-heading:nth-child(2){
        top: 45%;
        left: 32%;
    }
    .about-container{
        grid-template-rows: repeat(24,1fr);
    }
    .about-container-block.two , .about-container-block.four{
        width: 95%;
    }
    .about-container-content{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .about-container-heading{
        font-size: 30px;
    }
    .about-container > img{
        max-width: 400px;
        max-height: 100%;
        object-fit: cover;
    }
    #about-image2,#about-image3,#about-image4,#about-image5{
        max-width: 300px;
        max-height: 100%;
        object-fit: cover;
    }
    .about-container-block.one{
        grid-area:1/1/2/9;
    }
    .about-container-block.two{
        grid-area:8/1/12/9;
    }
    .about-container-block.three{
        grid-area:12/1/13/9;
    }
    .about-container-block.four{
        grid-area:21/1/25/9;
    }
    #about-image1{
        grid-area: 2/1/8/9;
    }
    #about-image2{
        grid-area: 13/1/17/5;
    }
    #about-image3{
        grid-area: 13/5/17/9;
    }
    #about-image4{
        grid-area: 17/1/21/5;
    }
    #about-image5{
        grid-area: 17/5/21/9;
    }
}
@media screen and (max-width: 350px) {
    .about-image-heading{
        font-size: 70px;
    }
    .about-image-heading:nth-child(1){
        top: 30%;
        left: 38%;
    }
    .about-image-heading:nth-child(2){
        top: 46%;
        left: 36%;
    }
}