*{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
    --secondary-color: rgb(7, 7, 7);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.gallery-image-grid{
    width: 90%;
    background-color: black;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(50,1fr);
    grid-template-rows: repeat(50,15px);
}