<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sooper-Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Eagle+Lake&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="menu-style.css">
</head>
<body>
    <div class="navbar">
        <a href="/index.html"><img src="/images/logo.png" alt="" class="logo"></a>
    <button class="hamburger">
        <div class="bar"></div>
    </button>
    </div>
    <div class="ham-navbar">
        <a href="/index.html">Home</a>
        <a href="about.html">About</a>
        <a href="#Menu" id="close-hamburger">Menu</a>
        <a href="/index.html#contact">Contact</a>
        <a href="gallery.html">Gallery</a>
    </div>
    <div class="menu-heading-container">
        <img src="/images/burger.png" alt="" id="burger">
        <img src="/images/mushroom.png" alt="" id="mushroom">
        <img src="/images/soju.png" alt="" id="soju">
        <h1>Menu</h1>
    </div>
    <div class="menu-content-container">
        <div class="section soup">
            <div class="menu-content-heading">Soups</div>
            <div class="menu-items-container">
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/chicken_soup.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Chicken soup</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/mushroom_soup2.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Mushroom soup</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/tomato_soup2.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Tomato soup</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/ramen2.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Ramen</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/veg_soup.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Veg soup</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/pho.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Pho</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section drink">
            <div class="menu-content-heading">Beverages</div>
            <div class="menu-items-container">
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/soju.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Soju</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/beer2.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Beer</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/wine.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Wine</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/mojito.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Mojito</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/Moscow_Mule.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Moscow Mule</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section snacks">
            <div class="menu-content-heading">Sides</div>
            <div class="menu-items-container">
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/smoked-salmon-bagel.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Salmon Bagel</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/grilled-sandwich.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Grilled Sandwich</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-items-border">
                    <div class="menu-items">
                        <img src="/images/baked_potatos.jpg" alt="">
                        <div class="menu-content">
                            <div class="menu-item-heading">Stuffed Potatoes</div>
                            <div class="price-calorie-container">
                                <h4>36.00 cal</h4>
                                <h4>$200</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-grid">
            <div class="footer-content footer-one">
                <div class="footer-heading">Sitemap</div>
                <div class="sitemap">
                    <a href="/index.html"><h4>Home</h4></a>
                    <a href="about.html"><h4>About</h4></a>
                    <a href="#menu"><h4>Menu</h4></a>
                    <a href="/index#contact"><h4>Contact</h4></a>
                    <a href="gallery.html"><h4>Gallery</h4></a>
                </div>
            </div>
            <div class="footer-content footer-two">
                <div class="footer-heading">Opening Hours</div>
                <div class="opening-section">
                    <h4>Monday - Friday</h4>
                    <h4>Lunch Time</h4>
                    <h5>12:00pm - 3:00pm</h5>
                    <h4>Dinner Time</h4>
                    <h5>8:00pm - 11:00pm</h5>
                    <h4>For Reservation Call us On</h4>
                    <h5>086696-09280</h5>
                </div>
            </div>
            <div class="footer-content footer-three">
                <div class="footer-heading">Location</div>
                <div class="location-section">
                    <h4>Goa University, Taleigao, Goa 403206</h4>
                </div>
            </div>
            <div class="footer-content footer-four">
                <div class="footer-heading">Socials</div>
                <div class="social-section">
                    <a href=""><i class="fa-brands fa-instagram fa-2xl" style="color: #e6b400;"></i></a>
                    <a href=""><i class="fa-brands fa-square-facebook fa-2xl" style="color: #e6b400;"></i></a>
                    <a href=""><i class="fa-brands fa-square-twitter fa-2xl" style="color: #e6b400;"></i></a>
                </div>
            </div>
            <img src="/images/logo.png" alt="">
        </div>
        <div class="copyright">© SOOPER 2023. ALL RIGHTS RESERVED.</div>
    </footer>
    <script src="/app.js"></script>
</body>
</html>