*{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
    --secondary-color: rgb(7, 7, 7);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    /* overflow: hidden; */
}
.menu-heading-container{
    width: 95%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
#burger{
    position: absolute;
    left: 10px;
    width: 300px;
    height: 300px;
    opacity: 0.7;
    animation-name: floating2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#mushroom{
    position: absolute;
    right: 10px;
    width: 300px;
    height: 300px;
    opacity: 0.7;
    animation-name: floating2;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#soju{
    position: absolute;
    float: center;
    width: 450px;
    height: 450px;
    opacity: 0.3;
    animation-name: floating2;
    animation-duration: 2.2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.menu-heading-container h1{
    font-size: 200px;
    letter-spacing: 20px;
    text-align: center;
    position: relative;
    background-image: url(/images/gold3.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-name: floating;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes floating {
    from{
        top: -15px;
    }
    to{
        top: 15px;
    }
}
@keyframes floating2 {
    from{
        top: 60px;
    }
    to{
        top: 120px;
    }
}
.section{
    width: 95%;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 1px 20px 5px black;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}
.section.soup{
    /* margin-top: 100px; */
}
.section.drink,.section.snacks{
    margin-top: 10px;
}
.menu-content-heading{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
    background-image: url(/images/gold3.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.menu-items-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: space-evenly;
    gap: 30px;
}
.menu-items-border{
    background-image: url(/images/frame.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 5px black;
}
.menu-items{
    width: 100%;
    margin-top: 12px;
}
.menu-items > img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}
.menu-content{
    background-color: rgb(5, 5, 5);
    position: relative;
}
.menu-item-heading{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding-top: 10px;
    background: -webkit-linear-gradient(#f8c322, #ffc800, #b96300, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.price-calorie-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}
.price-calorie-container h4{
    background: -webkit-linear-gradient(#f8c322, #fdca12, #a37800, #EDCB01);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 500;
}
/* ===================Media Queries=========================== */
/* ===================Media Queries=========================== */
@media screen and (max-width:1200px) {
    .menu-heading-container{
        width: 100%;
    }
    .menu-heading-container h1{
        font-size: 150px;
    }
    #burger{
        left: 5px;
    }
    #mushroom{
        right: 5px;
    }
}
@media screen and (max-width:700px) {
    .menu-heading-container{
        height: 400px;
    }
    .menu-heading-container h1{
        letter-spacing: 8px;
    }
    #burger{
        width: 200px;
        height: 200px;
        left: -40px;
    }
    #mushroom{
        width: 200px;
        height: 200px;
        right: -40px;
    }
    #soju{
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width:500px) {
    .menu-heading-container{
        height: 400px;
    }
    .menu-heading-container h1{
        font-size: 100px;
        letter-spacing: 8px;
    }
    #burger{
        width: 150px;
        height: 150px;
        left: -20px;
    }
    #mushroom{
        width: 150px;
        height: 150px;
        right: -20px;
    }
    #soju{
        width: 300px;
        height: 300px;
    }
    @keyframes floating2 {
        from{
            top: 80px;
        }
        to{
            top: 140px;
        }
    }
}
@media screen and (max-width: 400px) {
    .menu-heading-container{
        top: 0px;
    }
    .section{
        width: 100%;
        border-radius: 0px;
    }
    .menu-items-container{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    }
}
@media screen and (max-width:350px) {
    .menu-heading-container{
        height: 300px;
    }
    .menu-heading-container h1{
        font-size: 80px;
        letter-spacing: 8px;
    }
    #burger{
        width: 120px;
        height: 120px;
        left: -20px;
    }
    #mushroom{
        width: 120px;
        height: 120px;
        right: -20px;
    }
    #soju{
        width: 280px;
        height: 280px;
    }
    @keyframes floating2 {
        from{
            top: 70px;
        }
        to{
            top: 130px;
        }
    }
    .menu-content-heading{
        font-size: 55px;
    }
}