*{ 
    margin: 0;
    padding: 0;
}
:root{
    --priamary-color: #d4af37;
    --secondary-color: rgb(7, 7, 7);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}
.menu-heading-container{
    width: 95%;
    height: 300px;
    /* background-image: linear-gradient(rgb(7, 6, 0),#111111,rgb(7, 6, 0));
    box-shadow: 0px 1px 20px 5px black; */
    margin: 0 auto;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.menu-heading-container h1{
    font-size: 200px;
    letter-spacing: 20px;
    text-align: center;
    position: relative;
    background-image: url(/images/gold3.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-name: floating;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes floating {
    from{
        top: -15px;
    }
    to{
        top: 15px;
    }
}

.section{
    width: 95%;
    background-image: linear-gradient(rgb(7, 6, 0),#111111,rgb(7, 6, 0));
    box-shadow: 0px 1px 20px 5px black;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}
.section.soup{
    margin-top: 100px;
}
.section.drink,.section.snacks{
    margin-top: 10px;
}
.menu-content-heading{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
    background-image: url(/images/gold3.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.menu-items-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: space-evenly;
    gap: 20px;
}
.menu-items-border{
    background-image: url(/images/frame.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
}
.menu-items{
    /* height: 400px; */
    margin-top: 15px;
    /* background-color: white; */
}
.menu-items > img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* border-radius: 10px; */
    object-fit: cover;
}